n8n-workflows/main-devops-pipeline-debug.json
{
  "name": "Agentic DevOps Pipeline (Debug Version)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "devops-pipeline-trigger"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"webhook_data\": $json,\n  \"action\": $json.action,\n  \"pr_action\": $json.pull_request?.action,\n  \"event_type\": $json.zen ? 'ping' : 'pull_request',\n  \"pr_number\": $json.number || $json.pull_request?.number,\n  \"repository\": $json.repository?.full_name\n} }}",
        "options": {}
      },
      "id": "debug-webhook",
      "name": "Debug Webhook Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "synchronize",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.action }}",
              "rightValue": "reopened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "pr-filter-improved",
      "name": "Improved PR Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:3000/agent/code-review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MCP_SERVER_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "repository",
              "value": "={{ $json.repository.full_name }}"
            },
            {
              "name": "pr_number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "diff_url",
              "value": "={{ $json.pull_request.diff_url || null }}"
            },
            {
              "name": "base_sha",
              "value": "={{ $json.pull_request.base.sha }}"
            },
            {
              "name": "head_sha",
              "value": "={{ $json.pull_request.head.sha }}"
            },
            {
              "name": "llm_model",
              "value": "gpt-4"
            }
          ]
        },
        "options": {}
      },
      "id": "code-review-agent",
      "name": "Code Review Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Debug Webhook Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Improved PR Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improved PR Filter": {
      "main": [
        [
          {
            "node": "Code Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "devops-automation-debug",
      "name": "DevOps Automation Debug"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}